.creators__submit, .categories__submit, .popular__submit, .auctions__submit, .auctions__button, .image-block__button, .hero__button-default, .hero__button-yellow, .header__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creators__text, .categories__text, .popular__text, .works__title, .auctions__text, .hero__highlight, .hero__title {
  font-family: "Oxanium";
  font-weight: 700;
  line-height: 130px;
}

.creators__submit, .categories__submit, .popular__submit, .auctions__submit, .auctions__button, .hero__button-default, .hero__button-yellow {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #000;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #1c121f;
  color: #f5fbf2;
}

h1 {
  font-family: "Oxanium";
  font-weight: 700;
  font-size: 85px;
  line-height: 130px;
  color: #f5fbf2;
}

.container {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  display: flex;
  gap: 64px;
}
.menu__item {
  list-style-type: none;
  position: relative;
}
.menu__item-active {
  color: #ffce4e;
}
.menu__item-active ::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffce4e;
  right: 0;
  top: 28px;
}
.menu__item :hover {
  color: #ffce4e;
}
.menu__link {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  transition: all 0.3s;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.profile__info {
  display: flex;
  align-items: center;
  gap: 136px;
}
.profile__avatar {
  margin-right: 16px;
  border-radius: 50%;
}
.profile__name {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  color: #f5fbf2;
  margin: 0 0 8px 0;
}
.profile__link {
  font-size: 20px;
  color: #bdaac1;
  margin: 0;
}
.profile__like {
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile__number {
  font-size: 32px;
  line-height: 35px;
  color: #76607a;
}
.profile__heart {
  width: 28px;
  cursor: pointer;
}

.creators__submit, .categories__submit, .popular__submit, .auctions__submit, .auctions__button, .image-block__button, .hero__button-default, .hero__button-yellow, .header__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creators__text, .categories__text, .popular__text, .works__title, .auctions__text, .hero__highlight, .hero__title {
  font-family: "Oxanium";
  font-weight: 700;
  line-height: 130px;
}

.creators__submit, .categories__submit, .popular__submit, .auctions__submit, .auctions__button, .hero__button-default, .hero__button-yellow {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #000;
}

.creators__submit, .categories__submit, .popular__submit, .auctions__submit, .auctions__button, .image-block__button, .hero__button-default, .hero__button-yellow, .header__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creators__text, .categories__text, .popular__text, .works__title, .auctions__text, .hero__highlight, .hero__title {
  font-family: "Oxanium";
  font-weight: 700;
  line-height: 130px;
}

.creators__submit, .categories__submit, .popular__submit, .auctions__submit, .auctions__button, .hero__button-default, .hero__button-yellow {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #000;
}

.header__body {
  margin-top: 37px;
  margin-bottom: 139px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 161px;
}
.header__button {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  width: 257px;
  height: 84px;
  color: #ffce4e;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #ffce4e;
  cursor: pointer;
  width: 195px;
  height: 64px;
}

.hero {
  position: relative;
}
.hero .container {
  display: flex;
  justify-content: space-between;
}
.hero__text-content {
  padding-top: 32px;
}
.hero__title {
  font-size: 85px;
  color: #f5fbf2;
  margin-top: 0;
  margin-bottom: 77px;
}
.hero__highlight {
  font-size: 85px;
  color: #ffce4e;
}
.hero__buttons {
  display: flex;
  gap: 48px;
  margin-bottom: 121px;
}
.hero__button-yellow {
  width: 257px;
  height: 84px;
  color: #000;
  background-color: #ffce4e;
  border: none;
  cursor: pointer;
  width: 257px;
  height: 84px;
}
.hero__button-default {
  width: 257px;
  height: 84px;
  color: #fff;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #ffce4e;
  cursor: pointer;
  width: 257px;
  height: 84px;
}
.hero__arrow-btn {
  display: block;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  background: rgba(109, 91, 114, 0.4);
  box-shadow: 0px 14px 79px rgba(134, 19, 165, 0.1);
  backdrop-filter: blur(20px);
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.hero__arrow-icon {
  width: 25px;
}

.statistic {
  display: flex;
  align-items: center;
  gap: 103px;
  margin-bottom: 195px;
}
.statistic__number {
  font-family: "Oxanium";
  font-weight: 700;
  font-size: 62px;
  line-height: 78px;
  color: #f5fbf2;
  margin-bottom: 1px;
}
.statistic__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #9b9e9a;
  text-align: center;
}

.image-block {
  background: url(../images/hero.jpg);
  width: 100%;
  max-width: 558px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-block__header {
  max-width: 512px;
  width: 78%;
  margin: 24px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 39px;
  background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
  opacity: 0.95;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(22.5px);
}
.image-block__pre-title {
  margin: 0;
  margin-bottom: 7px;
  font-family: "Oxanium";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #e4dee7;
}
.image-block__title {
  font-family: "Oxanium";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
}
.image-block__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 33px 39px 35px 60px;
}
.image-block__name {
  margin: 0;
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.07em;
  color: #16091b;
}
.image-block__link {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #594d5e;
}
.image-block__button {
  width: 257px;
  height: 84px;
  color: #000;
  background-color: #ffce4e;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 205px;
  height: 72px;
  backdrop-filter: blur(22.5px);
}

.clients__list {
  margin: 0 auto;
  max-width: 1257px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 132px;
  margin-bottom: 188px;
}
.clients__item {
  flex-basis: 20%;
}

.auctions {
  overflow: hidden;
  background: linear-gradient(336.61deg, #251928 16.25%, rgba(37, 25, 40, 0) 91.6%);
}
.auctions__title {
  display: flex;
  justify-content: center;
}
.auctions__text {
  font-size: 64px;
  color: #f5fbf2;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.auctions__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-36%);
  background-color: #8613a5;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.auctions__circle {
  text-align: center;
  position: relative;
}
.auctions__title {
  margin-bottom: 42px;
}
.auctions__slider {
  margin-bottom: 84px;
}
.auctions__slide {
  width: 495px;
  height: 691px;
  background-color: #3d2942;
  padding: 32px 32px 28px;
  display: flex;
}
.auctions__image {
  position: relative;
  width: 431px;
  height: 359px;
  margin-bottom: 28px;
}
.auctions__image img {
  object-fit: cover;
}
.auctions__time {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0.02em;
  padding: 16px 46px;
  background: linear-gradient(125.33deg, #8613a5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
  opacity: 0.95;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(22.5px);
}
.auctions__bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.auctions__pre-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #c6bfc8;
  margin: 0;
}
.auctions__number {
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #f5fbf2;
  margin: 0;
}
.auctions__button {
  width: 257px;
  height: 84px;
  color: #fff;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #fde8b3;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  transition: background-color 0.2s ease-in-out;
  text-transform: capitalize;
}
.auctions__button:hover {
  background-color: rgba(122, 113, 88, 0.1);
}
.auctions__submit {
  width: 257px;
  height: 84px;
  color: #fff;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #fde8b3;
  cursor: pointer;
  padding: 24px 65px;
  margin: 0 auto 80px;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  transition: background-color 0.2s ease-in-out;
}
.auctions__submit:hover {
  background-color: rgba(122, 113, 88, 0.1);
}

.swiper {
  padding-top: 100px !important;
  overflow: visible !important;
}
.swiper-slide {
  flex-shrink: 1;
}
.swiper-button-prev, .swiper-button-next {
  width: 54px;
  height: 54px;
  top: 24px;
  right: 90%;
}
.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}
.swiper-button-next {
  transform: rotate(180deg);
}

.works__wrapper {
  padding: 189px 0 159px 0;
}
.works__title {
  font-size: 64px;
  color: #f5fbf2;
  text-align: center;
}
.works__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}
.works__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.works__item:last-child .works__icon::before {
  display: none;
}
.works__icon {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background-color: #372839;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.works__iconimg {
  width: 80%;
}
.works__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translateY(-50%) translateX(100%);
  background: url(../icons/dashed__line.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 165px;
  height: 10px;
}
.works__text {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 500;
  color: #ffce4e;
  line-height: 28px;
  margin: 0;
}

.popular {
  overflow: hidden;
}
.popular__title {
  display: flex;
  justify-content: center;
}
.popular__text {
  font-size: 64px;
  color: #f5fbf2;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.popular__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-36%);
  background-color: #e03054;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.popular__circle {
  text-align: center;
  position: relative;
}
.popular__block {
  position: relative;
  padding-top: 100px !important;
}
.popular__block::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: calc(100% - 100px);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 2;
}
.popular__item {
  background-color: #3d2942;
  display: inline-block;
  padding: 39px;
}
.popular__image {
  position: relative;
  max-height: 270px;
  margin-bottom: 24px;
}
.popular__image img {
  object-fit: cover;
}
.popular__profile {
  display: flex;
  align-items: center;
  gap: 26px;
}
.popular__profile img {
  width: 64px;
  height: 64px;
}
.popular__date {
  display: flex;
  align-items: center;
  gap: 154px;
}
.popular__link {
  font-family: "Work Sans";
  font-size: 32px;
  font-weight: 500;
  color: #f5fbf2;
  margin: 0;
}
.popular__code {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  color: #c2b5c6;
  margin: 0;
}
.popular__slider {
  padding: 0 !important;
}
.popular__submit {
  width: 257px;
  height: 84px;
  color: #fff;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #fde8b3;
  cursor: pointer;
  padding: 24px 65px;
  margin: 84px auto 104px;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  transition: background-color 0.2s ease-in-out;
}
.popular__submit:hover {
  background-color: rgba(122, 113, 88, 0.1);
}

.swiper-button-prev2,
.swiper-button-next2 {
  top: -55px;
}

.categories {
  background-color: #251928;
  overflow: hidden;
}
.categories__title {
  display: flex;
  justify-content: center;
}
.categories__text {
  font-size: 64px;
  color: #f5fbf2;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.categories__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-36%);
  background-color: #8613a5;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.categories__circle {
  text-align: center;
  position: relative;
}
.categories__body {
  padding: 80px 0 80px 0;
}
.categories__slider {
  margin-bottom: 84px;
}
.categories__item {
  display: inline-block;
  padding: 32px 32px 28px;
  background-color: #3d2942;
}
.categories__image {
  margin-bottom: 16px;
}
.categories__image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  opacity: 0;
  transition: all 0.3s;
}
.categories__image:hover:after {
  opacity: 1;
}
.categories__image:hover button {
  opacity: 1;
  pointer-events: all;
}
.categories__image button {
  background: #ffce4e;
  backdrop-filter: blur(45px);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  color: #000000;
  padding: 21px 58px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  white-space: nowrap;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}
.categories__image button:hover {
  background-color: #e0b548;
}
.categories__imageimg {
  width: 80%;
}
.categories__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
.categories__avatar {
  width: 58px;
}
.categories__info {
  display: flex;
  align-items: center;
  gap: 92px;
}
.categories__name {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  color: #f5fbf2;
  margin: 0 0 8px 0;
}
.categories__link {
  font-size: 18px;
  color: #bdaac1;
  margin: 0;
}
.categories__like {
  display: flex;
  align-items: center;
  gap: 12px;
}
.categories__heart {
  width: 24px;
  cursor: pointer;
}
.categories__number {
  font-size: 24px;
  line-height: 35px;
  color: #76607a;
}
.categories__bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories__pre-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #c6bfc8;
  margin: 0;
}
.categories__price {
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #f5fbf2;
  margin: 0;
}
.categories__submit {
  width: 257px;
  height: 84px;
  color: #fff;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #fde8b3;
  cursor: pointer;
  padding: 24px 65px;
  margin: 0px auto 0px;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  transition: background-color 0.2s ease-in-out;
}
.categories__submit:hover {
  background-color: rgba(122, 113, 88, 0.1);
}

.creators__title {
  display: flex;
  justify-content: center;
}
.creators__text {
  font-size: 64px;
  color: #f5fbf2;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.creators__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-36%);
  background-color: #e03054;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.creators__circle {
  text-align: center;
  position: relative;
}
.creators__body {
  padding: 104px 0 80px;
}
.creators__title {
  margin-bottom: 80px;
}
.creators__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 56px 72px;
  margin-bottom: 80px;
}
.creators__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 30px;
  background: #302034;
  box-shadow: inset 2px 0px 0px #e03054;
}
.creators__item img {
  display: block;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 24px;
}
.creators__wrapper {
  display: flex;
  align-items: center;
}
.creators__name {
  font-family: "Oxanium";
  font-size: 32px;
  font-weight: 600;
  color: #f5fbf2;
  margin: 0 0 8px 0;
}
.creators__price {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 500;
  color: #bdaac1;
}
.creators__items {
  position: relative;
}
.creators__items::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
  height: 100%;
  width: 3px;
  background: #49374e;
}
.creators__number {
  font-family: "Oxanium";
  font-size: 32px;
  font-weight: 700;
  color: #f5fbf2;
  margin: 0 0 6px 0;
}
.creators__description {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 500;
  color: #908294;
}
.creators__submit {
  width: 257px;
  height: 84px;
  color: #fff;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #fde8b3;
  cursor: pointer;
  padding: 24px 65px;
  margin: 0px auto 80px;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  transition: background-color 0.2s ease-in-out;
}
.creators__submit:hover {
  background-color: rgba(122, 113, 88, 0.1);
}

.subscribe {
  background: url("../images/ready_block.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 117px 0;
}
.subscribe__title {
  font-family: "Oxanium";
  font-size: 64px;
  font-weight: 700;
  color: #f5fbf2;
  line-height: 130px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}
.subscribe__form {
  border: 1px solid #e7b226;
  justify-content: space-between;
  display: flex;
  width: 680px;
  margin: 0 auto;
}
.subscribe__input {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 400;
  color: #f5fbf2;
  padding: 30px 53px;
  background: none;
  outline: none;
  line-height: 35px;
  flex-grow: 1;
}
.subscribe__input::placeholder {
  color: #a48ea9;
}
.subscribe__button {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 700;
  color: #251928;
  display: block;
  min-height: 100%;
  width: 244px;
  line-height: 35px;
  background-color: #e7b226;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.subscribe__button:hover {
  background-color: #c99c20;
}

.footer {
  background-color: #251928;
  padding: 108px 0 115px;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__article {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 500;
  color: #96839b;
  line-height: 36px;
  max-width: 390px;
  margin-top: 8px;
}
.footer__logo {
  width: 194px;
  height: 194px;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 52px 0;
}
.footer__social a:hover path {
  fill: #f7d7ff;
}
.footer__social svg {
  width: 35px;
  height: 35px;
}
.footer__social svg path {
  transition: all 0.3s;
}
.footer__copy {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
  color: #96839b;
  line-height: 36px;
}
.footer__about {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.footer__support {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.footer__title {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 700;
  color: #f5fbf2;
  margin-top: 0;
}
.footer__link {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
  color: #96839b;
  text-decoration: none;
  line-height: 50.5px;
}

/*# sourceMappingURL=style.css.map */
