@import 'variable';
@import 'mixins';

.clients {
    display: none
}
.auctions {
    display: none
}
.works {
    display: none
}
.popular {
    display: none
}
.categories {
    display: none
}
.creators {
    display: none
}
.subscribe {
    display: none
}
.footer {
    display: none
}

body {
    @include default-font('Work Sans', 400);
    box-sizing: border-box;
    background-color: $background-primary;
    color: $primary;
}

h1 {
    font-family: 'Oxanium';
    font-weight: 700;
    font-size: 85px;
    line-height: 130px;

    color: #f5fbf2;

    @media (max-width: 1100px) {
        font-size: 50px;
        line-height: 150%;
    }
}

.container {
    max-width: 1390px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu {
    display: flex;
    gap: 64px;

    &__item {
        list-style-type: none;
        position: relative;
        transition: all 0.5s;

        ::before {
            content: '';
            display: none;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $accent;
            right: 0;
            top: 28px;
        }

        :hover {
            color: $accent;

            &::before {
                display: block;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;

        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        transition: all 0.3s;
    }
}

.burger {
    position: relative;
    z-index: 50;

    width: 23px;
    height: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;

    @media (max-width: 750px) {
        display: flex;
    }

    span {
        width: 22px;
        height: 3px;
        background-color: $accent;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 3px;
        background-color: $accent;
        transform: all 0.3s ease;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 22px;
        height: 3px;
        background-color: $accent;
        transform: all 0.3s ease;
    }

    &.active {
        span {
            display: none;
        }

        &::before {
            top: calc(50% - 1px);
            transform: rotate(-45deg) translate(0, -50%);
        }

        &::after {
            bottom: calc(50%);
            transform: rotate(45deg) translate(0, 50%);
        }
    }
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 28px;

    &__info {
        display: flex;
        align-items: center;
        gap: 136px;
    }

    &__avatar {
        margin-right: 16px;
        border-radius: 50%;
    }

    &__name {
        @include default-font('Work Sans', 500);
        font-size: 28px;
        line-height: 35px;

        color: $primary;
        margin: 0 0 8px 0;
    }

    &__link {
        font-size: 20px;
        color: $purple3;
        margin: 0;
    }

    &__like {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__number {
        font-size: 32px;
        line-height: 35px;
        color: $purple4;
    }

    &__heart {
        width: 28px;
        cursor: pointer;
    }
}
