@import 'variable.scss';
@import 'extends.scss';

@mixin default-font($font-family, $font-weight) {
    font-family: $font-family, sans-serif;
    font-weight: $font-weight;
}

@mixin button($color, $background-button, $border) {
    @extend %center;
    width: 257px;
    height: 84px;

    color: $color;
    background-color: $background-button;

    border: $border;
    cursor: pointer;
}

@mixin title($font-size, $color) {
    @extend %title;
    font-size: $font-size;
    color: $color;
}

@mixin circle($background-color) {
    @extend %circle;
    background-color: $background-color;
}

@mixin text($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

@mixin title-circle($background-color) {
    &__title {
        display: flex;
        justify-content: center;
    }

    &__text {
        @include title(64px, $primary);
        margin-top: 0;
        margin-bottom: 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%) translateX(-36%);
            background-color: $background-color;
            width: 110px;
            height: 110px;
            border-radius: 50%;
        }
    }

    &__circle {
        text-align: center;
        position: relative;
    }
}
