//* color
$primary: #f5fbf2;
$accent: #ffce4e;

$gray: #9b9e9a;
$light-gray: #e4dee7;
$gray2: #c2b5c6;

$purple: #8613a5;
$purple2: #3d2942;
$purple3: #bdaac1;
$purple4: #76607a;
$purple5: #c6bfc8;
$purple6: #372839;
$purple7: #251928;
$purple8: #908294;


$light-purple: #594d5e;
$navy-blue: #16091b;

$circle-popular: #e03054;

$black: #000;
$white: #fff;

$background-primary: #1c121f;
$opacity-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url();
$background-button: rgba(233, 215, 167, 0.1);
